.DS_Store
srcdocs/
dist/
node_modules/
src/res/locales/available.json
static/config.local.json
webpack.effective.json
tests/coverage

# Yarn
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
yarn-debug.log*
yarn-error.log*

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
